<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h1>Users</h1>

<br>
<table style="border: solid black">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Login</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">name</td>
        <td th:text="${user.surname}">surname</td>
        <td th:text="${user.age}">age</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.login}">login</td>
        <td th:text="${user.roles}" style="text-align: center">roles</td>

        <td>
            <form th:method="GET" th:action="@{/{id}/update(id=${user.id})}">
                <input type="submit" value="Update"/>
            </form>
        </td>

        <td>
            <form th:method="POST" th:action="@{/{id}/delete(id=${user.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br>

<input type="button" value="Add"
       onClick="window.location.href = 'add'"/>
<br><br>

<form th:method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>